header {
  width: 100%;
  height: 150px;
  background-color: #47b8e0;
  margin-top: 1%;

  display: flex;
  justify-content: center;
  align-items: center;
}

header span {
  font-size: 65px;
  font-weight: bold;
  color: aliceblue;
}
